.app {
    max-width: 100%; /* Allow the app to take full screen width */
  display: flex;
  justify-content: center; /* Center the app horizontally */
  align-items: center; /* Center the app vertically */

    header {
        max-width: 600px;
    }

    .layout {
        max-width: 600px; /* Limit the maximum width to 600px */
        width: 100%; /* Allow the content to take full width within the max-width */
      }
}